body{
    width: 60%;
    padding : 3%;
    border: solid;
    border-radius: 10px;
    color: #479fbe;
    border-width: 2px;
}
h1{
    border-bottom: solid;
    border-width: 2px;
}
img{
    max-width: 100%;
    max-height: auto;
    border-radius: 10px;
    border: solid;
}
.found{
    border: solid olivedrab ; 
}
td{
    padding: 10px;
}
